<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eriknakamura.skinsense">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CameraActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ResultsActivity" android:screenOrientation="portrait"/>


        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.eriknakamura.skinsense"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/paths" />
        </provider>

        <activity android:name=".RashSymptom" android:screenOrientation="portrait"/>
        <activity android:name=".AutoSymptom" android:screenOrientation="portrait"/>
        <activity android:name=".BumpsSymptom" android:screenOrientation="portrait"/>
        <activity android:name=".DrynessSymptom" android:screenOrientation="portrait"/>
        <activity android:name=".ItchSymptom" android:screenOrientation="portrait"/>
        <activity android:name=".PainSymptom" android:screenOrientation="portrait"/>
        <activity android:name=".RednessSymptom" android:screenOrientation="portrait"/>
        <activity android:name=".StiffSymptom" android:screenOrientation="portrait"/>
    </application>

</manifest>